li > * 
    vertical-align middle
li
    list-style-type none
    position relative
    border 1px black solid
    display flex
    flex-direction column
    align-items center
    justify-content center
    padding 20px 0px